@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    if (ViewBag.Error == null)
    { 
        ViewBag.Error = "Sorry, an error occurred while processing your request.";
    }
}

<h2>
     @ViewBag.Error 
</h2>

