<!-- http://weblogs.asp.net/andrebaltieri/archive/2010/11/01/asp-net-mvc-3-working-with-webgrid.aspx 
http://weblogs.asp.net/scottgu/archive/2011/01/11/vs-2010-sp1-and-sql-ce.aspx-->
@model IList<ScoreServerMVC.Models.Score>

@{
    
    ViewBag.Title = "Index";
}

<h2>High Scores</h2>
@{
    var grid = new WebGrid(source: Model,
        defaultSort: "Points",
        rowsPerPage: 10);
}
<div id="grid">
@grid.GetHtml(tableStyle: "grid", headerStyle: "head", alternatingRowStyle: "alt", 
              columns: grid.Columns(grid.Column("Name"), grid.Column("Points"), grid.Column("Date")))
</div>

@if (ViewBag.name != null)
{
    <p>@ViewBag.name</p> 
}
<p>@ViewBag.points</p>
